# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b19cabed04694e57617f130d09ad0d6136698b0b70e2e9271b189ada5e7e56ac0553d535443592bb1bd6edbd2845f231913033e78aa231bfca2b50d65484499d

test:
  secret_key_base: 4afb48a19eb508e13a1426b10ad199cf40485202f35278ad078a9246f4885bc07378c3dfee4fc97936c4de7a4f4bf1e741fbd64b7e8bf37595b86dcea13bdbb0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
