<!DOCTYPE html>
<html>
  <head>
    <title>Chato</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'chat_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="main-container" class="container">
  	    <%= yield %>		
  	</div>
  </body>
</html>
